.infoCart {
  min-width: 400px;
  background-color: #fff;
  padding: 16px;
  border-radius: 10px;

  &__clearButton {
    margin-top: 12px;
    width: 100%;
    padding: 12px;
    background-color: #e53935;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #b71c1c;
    }
  }

  &__header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  &__items {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &__total {
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__checkoutButton {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;

    &:hover {
      background-color: #0056b3;
    }
  }

  @media (max-width: 1024px) {
    min-width: 100%;

    padding: 0;
    margin-top: 20px;

    &__header {
      font-size: 24px;
    }

    &__row {
      font-size: 18px;
    }

    &__total {
      font-size: 20px;
    }
    &__buttons {
      display: flex;
      align-items: flex-end;
    }

    & button {
      width: max-content;
      padding: 10px;

      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
  @media (max-width: 568px) {
    &__buttons {
      display: block;
    }

    & button {
      width: 100%;
      padding: 10px;

      &:not(:last-child) {
        margin-right: 0px;
      }
    }
  }
}
