.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
  }

  &__title {
    font-size: 24px;
    margin: 0;
  }

  &__price {
    font-size: 20px;
    font-weight: bold;
    color: #222;
  }

  &__desc {
    margin-top: 10px;
    font-size: 12px;
    line-height: 1.5;
    color: grey;
  }

  @media (max-width: 800px) {
    &__desc {
      font-size: 18px;
    }

    &__price {
      font-size: 30px;
    }
  }
}
