.whyus {
  margin-top: 25px;
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  width: 100%;
}

.card {
  background: #fafafa;
  padding: 40px 30px;
  border-radius: 16px;
  text-align: center;
  transition: 0.3s;
  min-height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon {
  font-size: 48px;
  margin-bottom: 15px;
}

h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

p {
  color: #555;
  font-size: 16px;
  line-height: 1.4;
}
