.breadcrumbs {
  padding: 10px 0; // Removed horizontal padding
  background-color: #f9f9f9;
  font-size: 14px;
  color: #333;

  &__container {
    max-width: 1368px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }

  a {
    color: black;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__title {
    font-weight: bold;
  }

  @media (max-width: 800px) {
    font-size: 20px;
  }
}

.separator {
  margin: 0 8px;
  color: #888;
}
