.auth {
  width: 400px;
  height: 600px;
  margin: 40px auto;
  &__title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
  }
}

.verification {
  width: 400px;
  height: 600px;
  margin: 40px auto;
  text-align: center;

  &__title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  &__phone {
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 300;
    color: grey;
  }

  &__resend {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    margin-top: 20px;

    &-btn {
      background: none;
      border: none;
      color: #ccc;
      cursor: default;
      text-decoration: none;

      &.active {
        color: #007bff;
        cursor: pointer;
        text-decoration: underline;
      }
    }

    &__timer {
      color: #999;
    }
  }

  &__submit {
    margin-top: 20px;
  }
}

.cart {
  min-height: 600px;
  padding: 20px;

  &__title {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.deliveryPage {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  padding-bottom: 50px;
  min-height: 600px;

  &__form {
    width: 70%;
  }

  &__title {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 30px;
  }

  &__section {
    margin-bottom: 20px;

    h3 {
      font-size: 24px;
      margin-bottom: 10px;
      font-weight: bold;
    }
  }

  &__name {
    display: flex;
    gap: 20px;
  }

  &__infoCart {
    width: 28%;
  }
}

.successPage {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 650px;

  &__container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
  }

  &__icon {
    margin-bottom: 20px;
  }

  &__title {
    font-size: 36px;
    font-weight: bold;
    color: #343a40;
    margin-bottom: 10px;
  }

  &__subtitle {
    font-size: 18px;
    color: #6c757d;
    margin-bottom: 30px;
    line-height: 1.5;
  }
}
